@charset "UTF-8";
/* CSS Document */
a:hover{text-decoration:none;}
.fR{float: right;}
.fL{float:left;}
ul li{list-style:none;}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.header{background:#fff;text-align: center; background: #49a6fd; background: -webkit-linear-gradient(#4ba7fd, #86cdfe); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#4ba7fd, #86cdfe); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#4ba7fd, #86cdfe); /* Firefox 3.6 - 15 */
  background: linear-gradient(#4ba7fd, #86cdfe); /* 标准的语法 */}
a.logo{font-size:18px;font-weight: 600;color:#fff;text-align: center;line-height: 48px;}
a.logo:hover{text-decoration:none;}
.nav_an{font-size:16px;line-height: 44px;color:#333;text-align: center;background: #fff;}
.nav_an a{color:#333;width: 100%;display: inline-block;}
.nav_an a:hover{text-decoration:none;position: relative;}
.nav_an a i{display:block;width:16px;height: 2px;background: #49a6fd;position: absolute;bottom:5px;left: 50%;margin-left: -8px;z-index: 100;border-radius: 20px;display: none;}
.nav_an.nav_an_active a i{display:block;}
.nav_an:hover{background:#f3f3f3;}
.nav_an.nav_an_active a{color:#49a6fd;}

.Carousel_an{padding:5px 15px 15px 15px;}
.carousel-indicators{bottom:0;}
.carousel-inner{border-radius:6px;
	-webkit-box-shadow:0 7px 15px rgba(0, 0, 0, .1);  
 -moz-box-shadow:0 7px 15px rgba(0, 0, 0, .1);  
 box-shadow:0 7px 15px rgba(0, 0, 0, .1);  }

.module_A{padding:0;margin-bottom: 10px;}
.module_A h3{font-size:16px;color:#333;text-align: left;text-indent: 15px;margin-bottom: 20px;}
.module_A h3 a{float: right;margin-right: 16px;color:#333;}
.ul_app_x{margin:0;padding: 0;width:100%;overflow-x:auto;white-space: nowrap;}
.ul_app_x li{width:70px;margin:0 10px;display: inline-block;text-align: center;}
.ul_app_x li h5{width: 100%;text-align: center;font-size:13px;color:#333;line-height:18px;margin-bottom: 4px; overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis; }
.ul_app_x li a{text-decoration:none;}
.ul_app_x li p{text-align:center;}
.ul_app_x li p.mb{width: 100%; font-size:13px;color:#b2c0cd;text-align: center;line-height: 13px;}
.btn_download{width:54px;height:27px;background: #e9f4ff;text-align: center;line-height: 26px;font-size:13px;color:#49a6fd;border: none;
border-radius: 14px;}
.btn_download.right_m{margin:14px 5px 0 0 ;}
.icon_app{width:55px;height:55px;border-radius: 9px;overflow: hidden;display: inline-block;border:1px solid #ddd;}
.icon_app img{width:100%;height: 100%;}



.module_B{padding:0 15px;margin-bottom: 10px;position: relative;}
.module_B.rank_left{padding-left: 35px;}
.module_B h3{font-size:16px;color:#333;text-align: left;margin-bottom: 20px;}
.module_B h3 a{float: right;margin-right: 1px;color:#333;}
.module_B h3 a:hover{text-decoration:none;}
.div_app_y{padding-left: 6px;height: 55px;margin-bottom: 20px;}

.app_brief{float:left;width:160px;margin-left: 15px;}
.app_brief h5{width: 100%;text-align: left;font-size:13px;color:#333;line-height:18px;margin-bottom: 4px; overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis; }
.app_brief p.mb{width: 100%; font-size:13px;color:#b2c0cd;text-align: left;line-height: 13px;}

.line_split{width:100%;height:5px;background:#f3f3f3;margin-bottom:20px;}
.num_rank{position: absolute;left: 13px;}
.num_rank dd{line-height:55px;margin-bottom:20px;text-align:center;font-size:12px;color:#999;}


.app_or{width:100%;text-align:center;display: inline-block;text-decoration: none;margin:15px 0 10px 0;}
.app_or:hover p{color:#49a6fd}
.icon_or{width:24px;height:24px;margin:0 auto;}
.icon_or img{width:100%;height:100%;}
.app_or p{font-size:14px;line-height:28px;color:#333;}

.nav{height:48px;background: #fff;font-size:16px;line-height: 48px;color:#333;text-align: center;border-bottom:1px solid #eee;}
.back{line-height:48px;padding:0 20px;position:absolute;left:0;color:#333;}
.back:hover{text-decoration:none;}


